#div-fondo{
    background-image: url(../../assets/img/fondoduoc.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 10;
    background-size: cover;
    background-position: center;
    height: 80vh; 
    border-radius: 1rem;
    color: black;
}
.encuesta{
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
}