#glass-content {
    background: rgba(19, 63, 176, 0.27);
    box-shadow: 0 4px 30px rgba(7, 77, 216, 0.1);
    backdrop-filter: blur(25.3px);
    -webkit-backdrop-filter: blur(25.3px);
    width: 100%;
    min-height: 100vh;
}

ion-content {
    --ion-background-color: url(../../assets/img/fondoduoc.png) no-repeat center center / cover;
    --color:black;
    
}
.nuevo {   
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
    margin: 50px;
    
    
}