<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alumno Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true" >

  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido {{ alumnoInfoReceived?.name }}</h1>
  
  <ion-list class="glass-content" [inset]="true">
  
    <ion-avatar>
      <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-item>
      <ion-label >Nombre de usuario: {{ alumnoInfoReceived?.username }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: {{ alumnoInfoReceived?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{ alumnoInfoReceived?.last_name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de usuario: {{ alumnoInfoReceived?.type }}
      </ion-label>
    </ion-item>
    <ion-button expand="block" color="dark" (click)="volverinicio()" >
      volver inicio
    </ion-button>
    <ion-button expand="block" color="dark" (click)="ingresarviaje()" >
      ingresar viaje 
    </ion-button>
    <ion-button expand="block" color="dark" (click)=" viaje()" >
      mostrar viaje
    </ion-button>
  
  </ion-list>

  
</ion-content>