
ion-content{
    --ion-background-color: url(../../assets/img/fondoduoc.png);
    --color: rgb(201, 12, 12);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 30vh; 
    border-radius: 1rem;
    
    
}
ion-header {

    background-size: 0ch;
    }